/* Keyframe CSS animations */

/* fadeUpIn - tagged elements will move upwards and fade-in */

@keyframes fadeUpIn {
    0% {
      opacity: 0;
      transform: translateY(50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

.animate-fadeUpIn{
    animation: fadeUpIn 0.5s ease-out forwards;
    opacity: 0;
}

/* fadeLeftIn - tagged elements will move left and fade-in */

@keyframes fadeLeftIn {
    0% {
      opacity: 0;
      transform: translateX(100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
  }

.animate-fadeLeftIn{
    animation: fadeLeftIn 0.5s ease-out forwards;
    opacity: 0;
}

/* fadeRightIn - tagged elements will move right and fade-in */

@keyframes fadeRightIn {
    0% {
      opacity: 0;
      transform: translateX(-100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
  }

.animate-fadeRightIn{
    animation: fadeRightIn 0.5s ease-out forwards;
}