/* main.css - CSS styling that affects all HTML files */

/* reset default font values for all elements */
*{
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

h1, h2, h3, h4, h5, h6{
    font-family: "Merriweather", serif;
    font-style: normal;
}

/* text and bg styling based off of Bootstrap classes */
.text-darkblue{
    font-family: "Merriweather", serif;
    color: #1E2A47 !important;
}

.bg-darkblue{
    background-color: #1E2A47;
}

/* add grayscale filter to certain images */
.gray{
    filter: grayscale(1);
}

/* added custom viewport height classes based on bootstrap's vh-100 class */
.vh-50 {
    height: 50vh !important;
}

.vh-94 {
    height: 94vh !important;
    object-fit: cover;
}

/* bold font on active navlink */
.active{
    font-weight: 650;
}

/* styling for background images on takehome and vacancy pages */
.container-img-wrapper{
    background-repeat: no-repeat;
    background-size: cover;
}

/* minimum height for hero to prevent overflowing text on small screens */
.hero-container{
    min-height: 430px;
}